body {
  font-size: 1.25rem;
}

nav li {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 400px;
}
main p {
  margin-left: 5%;
}

.wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}