<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nikipedia</title>
    <!-- Link to the copied asset files -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    {{navbar}}
    <div class="wrapper">
        <div class="content-container">
            <main>
            {{content}}
            </main>
        </div>
    </div>
    
    <script src="assets/main.js"></script>
</body>
</html>