body {
  font-size: 1.25rem;
}

nav li {
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  /* width: 400px; */
}
.content-container {
  /* width: 100%; */
}

.wrapper img {
  width: 90%;
}